body {background-color: white;
  margin: 0;
}

nav li {
  display: inline-block;
  
}


a {
  text-decoration: none;
  padding: 10px;
  color: white;
 
}



header {
  background-color:grey;
  padding:40px;
  margin-left: -100px;
margin-right: -100px
}


  ul {
  text-align: right;
  text-decoration: none;


}


 q::before {content: '"';
    color: black;}

q::after { 
    content: ' longue"';
color: black;}

div {
    text-align: center;
word-spacing: 10px; 
margin: 20px; 
font-size: 30px;
}

div.cards {
    
background-color: lightgray;
display: flex;
justify-content: space-between;

}

div#cards div { background-color: lightgray;
width: 25%;
display: inline-block;
padding:20px;
}


div#cards div a {color:black;
background-color: red;
border-radius: 10px;

}
div#cards div:hover a {background-color:orange;}

#cards a {font-size: 20px;
    padding: 5px 30px;
    font-weight: bold;
   
}

h2::first-letter {
  color: red;}



.fleche a{background-image: url(../18dec/arrow.png);
    background-repeat:no-repeat ;

}

p {font-size: 20px;}

input[type="radio"]:checked + label span{
background-color:rgb(69, 172, 17);
}

input[type="radio"] {
display:none;
}

input[type="radio"] + label {
font-size:14px;
}

input[type="radio"] + label span {
display:inline-block;
width:15px;
height:15px;
margin:-1px 4px 0 0;
vertical-align:middle;
cursor:pointer;
-moz-border-radius: 50%;
border-radius: 50%;
background-color:white;
border: black solid 1px;
}

a.bouton {background-color: greenyellow;
color: black;
font-weight: bold;
padding: 10px 40px;
border-radius: 10px;
cursor: pointer;
text-decoration: none;
transition: background-color 1s;
}

a.bouton:hover {background-color: orange;
}

#radio { display: flex;
  justify-content: space-between;

}

div.liste label { 
display: flex;
text-align: center;
padding:5px;
text-indent:5px;
}

div.liste { position: relative;
}


footer { background-color: grey;
padding: 20px;
}

#start::after { content: '1280 px';}

#end{display: none;}



@media screen and (max-width: 800px ) 
 
{ nav { width:100% ;}

     nav li {
     width: 100%;
    display: block;
    text-align: center; }

   li  { 
       border-bottom: solid 2px white;
       width: 100%;}
   
   nav ul {width: 100%;
padding: 0;
margin: 0;}


q::after { content: ' courte"';}

q { font-size: 20px;}

div#cards div {
    display: flex;
     display: block;
    width: 80%;
    height: 100%;
}

footer { background-color: indigo;}

#end {display: block;}

#start { display: none;}

#end::after { content: '800 px'}





}